{% extends "base/base.html" %}

{% block content %}

<div class="formtext">
    <h3>
    BEM VINDO ao Portal ------ criamos esta plataforma direcionada aos estudantes da UNIVESP.
    Ao acessar o Portal o estudante tem acesso a vários dados e gráficos dos cursos UNIVESP, incluindo seu atual curso ou futuro curso para aqueles que desejam prestar o vestibular e iniciar seus estudos On-Line.
    Aqui o você pode ter uma percepção mais realista do tamanho da Universidade que se tornou a UNIVESP, uma das maiores universidades On-Line do país.
    Registre-se e junte-se a nós para esta analise de como o seu futuro pode ser grandioso.     
</h3>
</div>

{% autoescape off %}

{{ fig1 }}

{% endautoescape %}


{% endblock %}
